In [3]:
import numpy as np

In [4]:
import pandas as pd

In [10]:
product =pd.read_csv("C:\\Users\\owner\\OneDrive\\Desktop\\sqi\\DATA SCIENCE\\Datasets\\product.csv")
product

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,ID_XWINUFGG,1970,Graduation,Married,52893.6,1,1,19-06-2014,24,2,...,0,4,5,0,0,0,0,0,0,0
1564,ID_GLVIHZLR,1980,Graduation,Single,74190.0,0,1,07-08-2013,63,1,...,30,27,4,0,0,0,0,0,0,0
1565,ID_O11VSIJY,1952,Master,Married,80857.2,0,1,15-01-2013,74,4,...,0,70,7,0,1,0,0,0,0,0
1566,ID_VS37P6MS,1964,PhD,Single,58701.6,1,1,12-04-2014,28,2,...,0,1,4,0,0,0,0,0,0,0
1567,ID_AKHOY7EI,1970,Graduation,Together,27873.6,1,0,26-01-2014,78,2,...,1,0,8,0,0,0,0,0,0,0